apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-bootstrap
  namespace: argocd

spec:
  project: default

  source:
    repoURL: "{{ argocd_gitops_repo_url }}"
    targetRevision: "{{ argocd_gitops_repo_revision }}"
    path: kubernetes/argocd
    directory:
      recurse: true

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true