apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    service:
      annotations:
        kube-vip.io/loadbalancerIPs: "{{ traefik_lb_ip }}"
      spec:
        loadBalancerIP: "{{ traefik_lb_ip }}"
