[Unit]
Description=Prometheus Proxmox VE exporter
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{ pve_exporter_venv }}/bin/pve_exporter --config.file {{ pve_exporter_config }} --web.listen-address :{{ pve_exporter_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
